{% extends 'base.html' %} 
{% block title %} Home Page {% endblock %}

{% block content %}
<center><h3>This is the ANPR page for the ANPR app</h1></center>
<center><form action="{% url 'run_pipeline' %}" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    <input type="file" name="image" accept="image/png, image/jpeg, image/jpg">
    <button type="submit">Run Pipeline</button> 
</form>
</center>

{% if result %}
    <p>Number Plate: {{ result }}</p>
{% endif %}

{% if error_message %}
    <p>Error: {{ error_message }}</p>
{% endif %}
<script>
    document.getElementById('image-input').addEventListener('change', function() {
    var fileInput = this;
    var runPipelineBtn = document.getElementById('run-pipeline-btn');
    if (fileInput.files && fileInput.files[0]) {
        runPipelineBtn.style.display = 'block';
        fileInput.style.display = 'none'; // Hide the image input once uploaded
    } else {
        runPipelineBtn.style.display = 'none';
    }
});
</script>
{% endblock %}